.comment-wrap {
    border: 1px solid #00000029;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
.author-wrap {
    display: flex;
    justify-content: space-between;
}
.comment-text {
    margin: 10px 10px 20px;
    background: #00000005;
    padding: 10px;
    border-radius: 2px;
}
.slide-item {
    min-height: 150px;
    background: #80808014;
    padding: 10px;
}
